html {
    font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
    font-size: 2em;
}

body {
    margin: 0;
}

.baseContent {
    background-color: #0D51A6;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.baseContent.header {
    text-align: center;
    margin-top: 0.5em;
    padding-top: 1.5em;
    padding-bottom: .75em;
}

.baseContent.main {
    background-color: #ffffff;
    text-align: left;
    font-size: 0.75em;
}

.baseContent.footer-bar {
    height: 1em;
}

.baseContent.footer {
    text-align: center;
    background-color: white;
    color: gray;
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    .baseContent { width: 100%; }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2) {
    .baseContent { width: 95%; }
    .baseContent.main { font-size: 1.5em; }
    .baseContent.footer { font-size: 1.5em; }
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2) {
    .baseContent { width: 90%; }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px)
and (-webkit-min-device-pixel-ratio: 3) {
    .baseContent { width: 90%; }
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 2) {
    .baseContent { width: 90%; }
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 320px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3) {
    .baseContent { width: 90%; }
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 360px)
and (device-height: 640px)
and (-webkit-device-pixel-ratio: 3) {
    .baseContent { width: 90%; }
}

/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
    .baseContent { width: 75%; }
}

/* ----------- iPad 1 and 2 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 1) {
    .baseContent { width: 75%; }
}

/* ----------- iPad 3 and 4 ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
    .baseContent { width: 75%; }
}

/* ----------- Galaxy Tab 10.1 ----------- */

/* Portrait and Landscape */
@media
(min-device-width: 800px)
and (max-device-width: 1280px) {
    .baseContent { width: 75%; }
}

/* ----------- Asus Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen
and (device-width: 601px)
and (device-height: 906px)
and (-webkit-min-device-pixel-ratio: 1.331)
and (-webkit-max-device-pixel-ratio: 1.332) {
    .baseContent { width: 75%; }
}


/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 800px)
and (max-device-width: 1280px)
and (-webkit-min-device-pixel-ratio: 1.5) {
    .baseContent { width: 75%; }
}

/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 1.5) {
    .baseContent { width: 75%; }
}

/* ----------- Laptops/Desktops ----------- */

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
    html { font-size: 1.25em; }
    .baseContent { width: 60%; }
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {
    html { font-size: 1.25em; }
    .baseContent { width: 60%; }
}
